# aretext configuration

# Each rule below defines a pattern to match the file path.
# All matching rules are merged in-order, with configuration from
# later rules replacing or extending configurations from prior rules.
#
# Configuration Reference: https://aretext.org/docs/config-reference/

- name: default
  pattern: "**"
  config:
    autoIndent: false
    hideDirectories: ["**/.git"]
    syntaxLanguage: plaintext
    tabExpand: false
    tabSize: 4
    showTabs: false
    showSpaces: false
    showLineNumbers: false
    lineWrap: "character"
    styles:
      lineNum: {color: "olive"}
      tokenOperator: {color: "purple"}
      tokenKeyword: {color: "olive"}
      tokenNumber: {color: "green"}
      tokenString: {color: "maroon"}
      tokenComment: {color: "navy"}
      tokenCustom1: {color: "teal"}
      tokenCustom2: {color: "fuchsia"}
      tokenCustom3: {color: "red"}
      tokenCustom4: {color: "lime"}
      tokenCustom5: {color: "aqua"}
      tokenCustom6: {color: "darkgreen"}
      tokenCustom7: {color: "darkcyan"}
      tokenCustom8: {color: "darkblue"}

#- name: linux wayland clipboard commands
#  pattern: "**"
#  config:
#    menuCommands:
#    - name: copy to clipboard
#      shellCmd: wl-copy "$SELECTION"
#      mode: silent
#    - name: paste from clipboard
#      shellCmd: wl-paste
#      mode: insert

#- name: macos clipboard commands
#  pattern: "**"
#  config:
#    menuCommands:
#    - name: copy to clipboard
#      shellCmd: printenv SELECTION | pbcopy
#      mode: silent
#    - name: paste from clipboard
#      shellCmd: pbpaste
#      mode: insert

#- name: tmux clipboard commands
#  pattern: "**"
#  config:
#    menuCommands:
#    - name: copy to clipboard
#      shellCmd: printenv SELECTION | tmux load-buffer -
#      mode: silent
#    - name: paste from clipboard
#      shellCmd: tmux show-buffer
#      mode: insert

#- name: tmux window commands
#  pattern: "**"
#  config:
#    menuCommands:
#    - name: split window horizontal
#      shellCmd: tmux split-window -h "aretext $FILEPATH"
#      mode: silent
#    - name: split window vertical
#      shellCmd: tmux split-window -v "aretext $FILEPATH"
#      mode: silent

#- name: grep command
#  pattern: "**"
#  config:
#    menuCommands:
#      - name: grep word
#        # using grep
#        shellCmd: grep $WORD -n -R .
#        # using ripgrep
#        # shellCmd: rg $WORD --vimgrep
#        mode: fileLocations

- name: git commit
  pattern: "**/.git/COMMIT_EDITMSG"
  config:
    syntaxLanguage: gitcommit

- name: git rebase
  pattern: "**/.git/**/git-rebase-todo"
  config:
    syntaxLanguage: gitrebase

- name: json
  pattern: "**/*.json"
  config:
    autoIndent: true
    syntaxLanguage: json
    tabExpand: true
    tabSize: 2
    showLineNumbers: true

- name: yaml
  pattern: "**/*.yaml"
  config: &yamlConfig
    autoIndent: true
    syntaxLanguage: yaml
    tabExpand: true
    tabSize: 2
    showLineNumbers: true

- name: yml
  pattern: "**/*.yml"
  config: *yamlConfig

- name: go
  pattern: "**/*.go"
  config:
    autoIndent: true
    syntaxLanguage: go
    tabExpand: false
    tabSize: 4
    showLineNumbers: true

- name: python
  pattern: "**/*.py"
  config:
    autoIndent: true
    syntaxLanguage: python
    tabExpand: true
    tabSize: 4
    showLineNumbers: true

- name: rust
  pattern: "**/*.rs"
  config:
    autoIndent: true
    syntaxLanguage: rust
    tabExpand: true
    tabSize: 4
    showLineNumbers: true

- name: c
  pattern: "**/*.c"
  config: &cconfig
    autoIndent: true
    syntaxLanguage: c
    tabExpand: true
    tabSize: 4
    showLineNumbers: true

- name: c-header
  pattern: "**/*.h"
  config: *cconfig

- name: markdown
  pattern: "**/*.md"
  config:
    syntaxLanguage: markdown
    lineWrap: "word"
    styles:
      tokenCustom1: {color: "teal", bold: true}        # Heading
      tokenCustom2: {color: "default", italic: true}   # Emphasis
      tokenCustom3: {color: "default", bold: true}     # Strong emphasis
      tokenCustom4: {color: "purple", underline: true} # Link

# to enable criticmarkup for markdown files,
# replace the "markdown" rule above with this one:
#- name: criticmarkup
#  pattern: "**/*.md"
#  config:
#    syntaxLanguage: criticmarkup
#    lineWrap: "word"
#    styles:
#      tokenCustom1:  {color: "teal", bold: true}        # Heading
#      tokenCustom2:  {color: "default", italic: true}   # Emphasis
#      tokenCustom3:  {color: "default", bold: true}     # Strong emphasis
#      tokenCustom4:  {color: "purple", underline: true} # Link
#      tokenCustom9:  {color: "green"}  # Addition
#      tokenCustom10: {color: "red"}    # Deletion
#      tokenCustom11: {color: "purple"} # Substitution
#      tokenCustom12:                   # Highlight
#        color: "black"
#        backgroundColor: "yellow"

- name: protobuf
  pattern: "**/*.proto"
  config:
    autoIndent: true
    syntaxLanguage: protobuf
    tabExpand: true
    tabSize: 2
    showLineNumbers: true

- name: todo
  pattern: "**/*.todo" # or "**/todo.txt"
  config:
    autoIndent: true
    syntaxLanguage: todotxt
    tabExpand: true
    tabSize: 4
    showLineNumbers: true

#- name: custom commands for a specific project
#  pattern: "**/myproject/**"
#  config:
#    menuCommands:
#    - name: make
#      shellCmd: make | less
